*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-items: center;
  align-items: center;
}

.result__video-container {
  position: relative;
  height: 400px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  padding: 2px;
}

.search-form__textfield {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #FFF;
  background-color: inherit;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFF;
}

.search-form__textfield::placeholder {
  color: (255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  padding: 1px;
  height: 19px;
  width: 19px;
  border: 1px solid #FFF;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid #FFF;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  cursor: pointer
}

.content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 1140px;
  gap: 30px;
}

.content__details {
  width: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 298px;
  overflow-y: scroll;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.content__video-card:hover {
  text-decoration: underline;
  cursor: pointer
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card-thumbnail {
  max-height: 103px;
  max-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description-container {
  max-width: 196px;
  flex-grow: 1;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
}

.search-form__submit-button {
  padding: 6px 74px;
  align-self: flex-end;
}

.more-button {
  padding: 6px 142px;
  text-wrap: nowrap;
}